.section-cta2 {
  background-color: var(--color-black__def-1000);
  position: relative;
  overflow: hidden;

  border-top: 0.1rem solid #ffffff26;

  &::before {
    content: "";
    width: 45rem;
    height: 45rem;
    filter: blur(30rem);
    background-color: var(--color-puple--500);

    position: absolute;
    bottom: -40rem;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 767px) {
      bottom: -20rem;
    }
  }

  .container-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 4rem;
    }
  }
  .block-cta {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
    }
  }
  .block-cta__img {
    width: 19.2rem;
    height: 19.2rem;

    @media (max-width: 767px) {
      width: 18rem;
      height: 18rem;
    }
  }
  .block-cta__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .block-cta__content-title {
    font-family: Heading Now regular;
    letter-spacing: 0.1rem;
    font-size: 4rem;
    line-height: 4.8rem;

    color: var(--color-white__def);

    @media (max-width: 767px) {
      font-size: 3.2rem;
      line-height: 4rem;
    }
  }
  .block-cta__content-box {
    display: flex;
    gap: 1.2rem;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  .cta-content__text {
    font-family: Heading Now regular;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;

    color: var(--color-white__def);

    padding: 1rem 2rem;
    border-radius: var(--border-12r);
    border: 0.1rem solid #ffffff0d;

    display: flex;
    align-items: center;
    gap: 1.2rem;

    @media (max-width: 767px) {
      font-size: 2rem;
      line-height: 2.4rem;

      padding: 1rem 2rem;
    }
  }
  .cta-content__img {
    width: 2.4rem;
    height: 2.4rem;

    position: relative;

    &::before {
      content: "";
      width: 2.4rem;
      height: 2.4rem;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      border-radius: var(--border-6r);
      box-shadow: 0 0 3.2rem 0 #7c60f5;
    }

    @media (max-width: 767px) {
    }
  }
  .container-cta__btn {
    font-family: Heading Now regular;
    letter-spacing: 0.1rem;
    font-size: 3.2rem;
    line-height: 3.2rem;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
