.section-hero {
}
.container-hero {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 3rem;
  }
}

.container-hero__alt {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 3rem;
  }
}
.container-hero__content {
  display: flex;
  flex-direction: column;
}
.hero-content_info-text {
  padding: 0.8rem 1.6rem;
  border-radius: var(--border-12r);
  border: 0.1rem solid var(--color-gray--200);
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-family: Heading Now extrabold;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}
.hero-content_info-marker {
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--color-green);
  border-radius: 50%;

  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: pulse 2s ease infinite;

  &::before {
    content: "";
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--color-green);
    filter: blur(1rem);

    z-index: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.hero-content__head {
  margin-top: 3.2rem;

  @media (max-width: 767px) {
    margin-top: 2rem;
  }
}
.hero-content__head-title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 7.6rem;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: -0.1rem;
  }
}
.hero-content__head-title span {
  color: var(--color-puple--500);
}
.hero-content__list {
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  margin-top: 2.4rem;

  @media (max-width: 767px) {
    margin-top: 1.6rem;
  }
}
.hero-content__list-item {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  @media (max-width: 767px) {
    font-size: 1.6rem;
    gap: 0.2rem;
  }
}
.hero-content__list-marker {
  min-width: 3rem;
  max-width: 3rem;
  height: 3rem;

  @media (max-width: 767px) {
    min-width: 2.4rem;
    max-width: 2.4rem;
    height: 2.4rem;
  }
}

.hero-btn {
  margin-top: 6.4rem;

  font-family: Heading Now extrabold;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  width: fit-content;

  @media (max-width: 767px) {
    margin-top: 3rem;
  }
}
.container-hero__img {
  width: 57.4rem;
  height: 52.6rem;

  @media (max-width: 767px) {
    width: unset;
    height: 30rem;
  }
}
.block-hero__link {
  display: flex;
  gap: 1.2rem;

  margin-top: 6.4rem;

  @media (max-width: 767px) {
    margin-top: 3rem;

    flex-direction: column;
  }
}
.block-hero__link-item {
  width: 21.2rem;
  height: 6.4rem;

  @media (max-width: 767px) {
    width: unset;
  }
}

/* ------------------------------------------------------------ */

/* swiper */

.container-hero__swiper {
  border-radius: var(--border-40r);
  border: 0.1rem solid var(--color-gray--200);
  padding-top: 3.2rem;
  width: 58rem;

  position: relative;

  @media (max-width: 767px) {
    border: unset;
    padding-top: unset;
    width: 30rem;
  }
}

.swiper {
}
.swiper-wrapper {
}
.block-img {
  width: 100%;
  padding-inline: 14rem;
  padding-bottom: 10rem;

  @media (max-width: 767px) {
    padding-inline: 2rem;
    padding-bottom: 2rem;
  }

  img {
    height: 58rem;

    @media (max-width: 767px) {
      height: 50rem;
    }
  }
}

.swiper-pagination {
  margin-bottom: 4rem;

  @media (max-width: 767px) {
    margin-bottom: -1rem;
  }
}
.swiper-pagination-bullet {
  width: 5.4rem !important;
  height: 0.4rem !important;
  border-radius: var(--border-32r) !important;
  background-color: var(--color-puple--500) !important;
}

/* Кнопки навигации */
.swiper-button-prev {
}

.swiper-button-prev,
.swiper-button-next {
  background-color: var(--color-white__def);
  border: 0.1rem solid var(--color-gray--200);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;

  padding: 3rem;

  svg {
    min-width: 4.3rem;
    min-height: 4.3rem;
  }
}
.swiper-button-prev {
  left: -3rem !important;
}
.swiper-button-next {
  right: -3rem !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--color-puple--500);
  border-color: var(--color-puple--500);
}

.swiper-button-prev:hover svg path,
.swiper-button-next:hover svg path {
  fill: var(--color-white__def);
}
