.section-hero2 {
}
.container-hero2 {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 3rem;
  }
}
.container-hero2__content {
  display: flex;
  flex-direction: column;
}
.hero2-content_info-text {
  padding: 0.8rem 1.6rem;
  border-radius: var(--border-12r);
  border: 0.1rem solid var(--color-gray--200);
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-family: Heading Now extrabold;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}
.hero2-content_info-marker {
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--color-green);
  border-radius: 50%;

  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: pulse 2s ease infinite;

  &::before {
    content: "";
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--color-green);
    filter: blur(1rem);

    z-index: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.hero2-content__head {
  margin-top: 3.2rem;

  @media (max-width: 767px) {
    margin-top: 2rem;
  }
}
.hero2-content__head-title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 7.6rem;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: -0.1rem;
  }
}
.hero2-content__head-title span {
  color: var(--color-puple--500);
}
.hero2-content__list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  margin-top: 2.4rem;

  @media (max-width: 767px) {
    margin-top: 1.6rem;
  }
}
.hero2-content__list-item {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  @media (max-width: 767px) {
    font-size: 1.6rem;
    gap: 0.2rem;
  }
}
.hero2-content__list-marker {
  width: 3rem;
  height: 3rem;

  @media (max-width: 767px) {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.hero2-btn {
  margin-top: 6.4rem;

  font-family: Heading Now extrabold;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  width: fit-content;

  @media (max-width: 767px) {
    margin-top: 3rem;
  }
}
.container-hero2__img {
  width: 57.4rem;
  height: 52.6rem;

  @media (max-width: 767px) {
    width: unset;
    height: 30rem;
  }
}
