.section-rewiews {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @media (max-width: 767px) {
    gap: 3.2rem;
  }
}
.section-rewiews__title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 6.4rem;

  @media (max-width: 767px) {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
}
.container-rewiews {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @media (max-width: 767px) {
    gap: 3.2rem;
  }
}
.card-rewiews {
  padding: 4.8rem 3.2rem;

  display: flex;
  gap: 3.2rem;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 1.6rem;

    padding: unset;
  }
}
.card-rewiews__img {
  width: 14rem;
  min-width: 14rem;
}
.card-rewiews__content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  width: 76rem;

  @media (max-width: 767px) {
    width: unset;
    gap: 1.2rem;
  }
}
.card-rewiews__content-head {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    justify-content: unsafe;
    flex-direction: column;
    gap: 0.4rem;
  }
}
.card-rewiews__head-name {
  font-family: Heading Now regular;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.2rem;
}
.card-rewiews__head-date {
  font-family: Heading Now regular;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.card-rewiews__content-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
