.section-tarifs {
  width: 100%;

  @media (max-width: 767px) {
    margin-top: 3.2rem;
  }
}
.container-tarifs {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  @media (max-width: 767px) {
    gap: 3.2rem;
  }
}
.block-tarifs {
  display: grid;
  grid-template-columns: 44rem 1fr;

  gap: 4.8rem;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
  }
}

.block-tarifs__alt {
  grid-template-columns: 1fr 44rem;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.block-tarifs__price {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @media (max-width: 767px) {
    width: unset;
  }
}
.tarifs-box {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;

  border-bottom: 0.1rem solid var(--color-gray--100);
  padding-bottom: 1.6rem;

  @media (max-width: 767px) {
    &:last-child {
      border-bottom: unset;
    }
  }
}

.tarifs-box__title-head {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.2rem;

  @media (max-width: 767px) {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}
.tarifs-box__title {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  @media (max-width: 767px) {
    font-size: 1.6rem;
  }
}
.tarifs-box__text {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  @media (max-width: 767px) {
    font-size: 1.6rem;
  }
}
.tarifs-box__hgroup {
  display: flex;
  flex-direction: column;
}
.tarifs-box__hgroup__text {
  font-family: Inter;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.container-tarufs__img {
  @media (max-width: 767px) {
    height: 25.6rem;
  }

  img {
    border-radius: var(--border-24r);
    object-fit: cover;
  }
}
