.container-comments {
  display: flex;
  gap: 2.4rem;
}
.core-comments {
  position: relative;
}
/* Градиент слева */
.core-comments::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  background: linear-gradient(
    to right,
    var(--color-white__def) 0%,
    transparent 100%
  );
  z-index: 2;
  pointer-events: none; /* Чтобы можно было кликать сквозь градиент */

  @media (max-width: 767px) {
    width: 5rem;
  }
}

/* Градиент справа */
.core-comments::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20rem;
  background: linear-gradient(
    to left,
    var(--color-white__def) 0%,
    transparent 100%
  );
  z-index: 2;
  pointer-events: none;

  @media (max-width: 767px) {
    width: 5rem;
  }
}
.container-comments:active {
  cursor: grabbing;
}
.card-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  user-select: none;
  min-width: 41.6rem;
  width: 41.6rem;
  padding: 3.2rem;
  border: 0.1rem solid var(--color-gray--200);
  border-radius: var(--border-16r);

  @media (max-width: 767px) {
    padding: 1.6rem;

    gap: 1.6rem;

    min-width: 34rem;
    width: 34rem;
  }
}
.card-comment__img {
  width: 12.8rem;

  @media (max-width: 767px) {
    width: 11.2rem;
  }
}
.card-comment__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.card-comment__content-span {
  font-family: Heading Now regular;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
  line-height: 2.8rem;

  color: var(--color-puple--500);

  @media (max-width: 767px) {
    font-size: 2.2rem;
  }
}
.card-comment__hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.card-comment__hgroup-title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-size: 2.8rem;
  line-height: 3.2rem;

  color: var(--color-black__def-1000);

  @media (max-width: 767px) {
    font-size: 2.6rem;
  }
}
.card-comment__hgroup-text {
  font-family: Inter;
  letter-spacing: -0.1rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  text-align: center;
  color: var(--color-black__def-1000);

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
