.section-cta {
  background-color: var(--color-black__def-1000);
  position: relative;
  overflow: hidden;

  border-top: 0.1rem solid #ffffff26;

  &::before {
    content: "";
    width: 45rem;
    height: 45rem;
    filter: blur(30rem);
    background-color: var(--color-puple--500);

    position: absolute;
    bottom: -40rem;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 767px) {
      bottom: -20rem;
    }
  }

  .container-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 4rem;
    }
  }
  .block-cta {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    @media (max-width: 767px) {
      flex-direction: column;

      text-align: center;
    }
  }
  .block-cta__img {
    width: 19.2rem;
    height: 19.2rem;

    @media (max-width: 767px) {
      width: 18rem;
      height: 18rem;
    }
  }
  .block-cta__hgroup {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    max-width: 70rem;
  }
  .block-cta__hgroup-title {
    font-family: Heading Now regular;
    letter-spacing: 0.1rem;
    font-size: 4rem;
    line-height: 4.8rem;

    color: var(--color-white__def);

    @media (max-width: 767px) {
      font-size: 3.2rem;
      line-height: 4rem;
    }
  }
  .block-cta__hgroup-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;

    color: var(--color-white__def);

    @media (max-width: 767px) {
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }
  .container-cta__btn {
    font-family: Heading Now regular;
    letter-spacing: 0.1rem;
    font-size: 3.2rem;
    line-height: 3.2rem;

    text-wrap: nowrap;
    
    @media (max-width: 767px) {
      text-wrap: unset;
      width: 100%;
    }
  }
}
