.container-work {
  display: grid;
  /* если карточки 3-4 */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.4rem;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.container-work:has(> :nth-child(4):last-child) {
  /* grid-template-columns: repeat(4, 1fr); */
}

.card-work {
  border-radius: var(--border-24r);
  border: 0.1rem solid var(--color-gray--alt2);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-work__number {
  font-family: Heading Now bold;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  line-height: 2.4rem;

  padding: 0.8rem 3.2rem;
  margin-bottom: 1rem;
  background-color: var(--color-gray--alt2);
  border-bottom-left-radius: var(--border-12r);
  border-bottom-right-radius: var(--border-12r);
}
.card-box__work-img {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  overflow: hidden;

  &::before {
    content: "";
    width: 100%;
    height: 2.5rem;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 100%
    );

    position: absolute;
    bottom: 0;
    z-index: 10;
  }
}
.card-work__img {
  height: 27rem;
  width: 100%;

  @media (max-width: 767px) {
    height: 24rem;
  }
}
.card-work__hgroup {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  padding: 4.8rem 3.2rem;

  @media (max-width: 767px) {
    padding: 2.4rem;
    gap: 1rem;
  }
}
.card-work__title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-size: 2.8rem;
  line-height: 3.2rem;
  text-align: center;

  color: var(--color-black__def-1000);

  @media (max-width: 767px) {
    font-size: 2.6rem;
  }
}
.card-work__text {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;

  color: var(--color-black__def-1000);

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
