.section-contacts {
}
.section-contacts__title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 6.4rem;
  color: var(--color-black__def-1000);

  @media (max-width: 767px) {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
.container-contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-top: 2rem;

  @media (max-width: 767px) {
    margin-top: 3.2rem;

    gap: 3.2rem;
  }
}
.container-contacts__title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  color: var(--color-black__def-1000);

  @media (max-width: 767px) {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}
.block-contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.block-contacts__box {
  display: flex;
  flex-direction: column;
}
.block-contacts__box-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  color: var(--color-black__def-1000);

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.block-contacts__box-link {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  color: var(--color-puple--500);

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.container-contacts__details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.container-contacts__details-box {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  color: var(--color-black__def-1000);

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
