.section-advertiser {
}
.core-advertiser {
  display: grid;
  grid-template-columns: 60rem 1fr;
  gap: 8rem;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.2rem;
  }
}
.container-advertiser {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;

  @media (max-width: 767px) {
    width: unset;
    gap: 3.2rem;
  }
}
.container-advertiser__hgroup {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 5.6rem;
  line-height: 6.4rem;

  @media (max-width: 767px) {
    font-size: 3.4rem;
  }
}
.container-advertiser__hgroup-title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 6.4rem;

  @media (max-width: 767px) {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
.container-advertiser__hgroup-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.advertiser-img {
  border: 0.1rem solid var(--color-gray--200);
  border-radius: var(--border-40r);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  @media (max-width: 767px) {
    padding: 0 1.6rem;
    border-radius: var(--border-16r);

    height: 36rem;
  }
}

.advertiser-img__back {
  position: absolute;
  inset: 0;
}
.advertiser-img__item {
  position: relative;

  width: 50rem;
  height: 58rem;

  @media (max-width: 767px) {
    height: 38rem;
    width: 100%;

    top: 3.2rem;
  }
}

/*  */

.box-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
  user-select: none;

  color: var(--color-white__def);

  /* Скрываем настоящий чекбокс */
  input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
  }

  /* Сам квадрат чекбокса */
  .custom-checkbox {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: var(--border-6r);
    border: 0.1rem solid var(--color-puple--500);
    background: white;
    flex-shrink: 0;
  }

  /* Галочка (лучше через псевдоэлемент) */
  .custom-checkbox::before {
    content: "";
    position: absolute;
    inset: -0.1rem;
    width: 2.1rem;
    height: 2.1rem;
    background: url("../img/Check-Box.svg") center/contain no-repeat;
    transition: opacity 0.2s ease;
    opacity: 0;
  }

  /* Когда чекбокс отмечен */
  input[type="checkbox"]:checked + .custom-checkbox::before {
    opacity: 1;
    border-radius: var(--border-6r);
  }

  .box-label__text {
    font-family: Inter;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--color-black__def-1000);

    @media (max-width: 767px) {
      font-size: 1.4rem;
    }
  }
}
