.section-app {
  background-color: var(--color-black__def-1000);
  position: relative;
}

.app-img__back {
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: no-repeat;
    opacity: 90%;
    object-position: center;
    border-radius: 16px;
  }
}
.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.conatiner-app__logo {
  width: 14.4rem;
  height: 14.4rem;
}
.container-app__hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.app-hgroup__title {
  font-family: Heading Now;
  font-weight: 500;
  font-size: 4rem;
  line-height: 4.8rem;

  color: var(--color-white__def);
}
.app-hgroup__text {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -2%;

  color: var(--color-white__def);
}
.container-app_links {
  display: flex;
  gap: 0.8rem;
}
.app-links__item {
}
