.section-hi {
}
.container-hi {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.container-hi__title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 6.4rem;

  color: var(--color-black__def-1000);

  @media (max-width: 767px) {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
.container-hi__text {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  color: var(--color-black__def-1000);

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
