.section-app {
  background-color: var(--color-black__def-1000);
  position: relative;
}

.app-img__back {
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: no-repeat;
    opacity: 90%;
    object-position: center;
    border-radius: 16px;
  }
}
.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.conatiner-app__logo {
  width: 14.4rem;
  height: 14.4rem;

  @media (max-width: 767px) {
    width: 11.2rem;
    height: 11.2rem;
  }
}
.container-app__hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  @media (max-width: 767px) {
    text-align: center;
  }
}
.app-hgroup__title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;

  color: var(--color-white__def);
  text-align: center;

  @media (max-width: 767px) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  br {
    @media (max-width: 767px) {
      display: none;
      font-size: 3rem;
    }
  }
}
.app-hgroup__text {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -2%;

  color: var(--color-white__def);

  @media (max-width: 767px) {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
.container-app_links {
  display: flex;
  gap: 0.8rem;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 1rem;
  }
}
.app-links__item {
  width: 20rem;
  height: 5.6rem;
}
