.driver-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;

  margin-top: 3.2rem;

  @media (max-width: 757px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card-services {
  padding: 3.2rem;
  border-radius: var(--border-16r);
  border: 0.1rem solid var(--color-gray--200);

  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.card-services__hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.card-services__hgroup-title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.2rem;
}
.card-services__hgroup-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
}
.card-services__img {
  width: 100%;
  height: 16rem;

  margin-top: auto;
}
