.section-end {
}
.container-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 24rem;

  @media (max-width: 767px) {
    gap: 13rem;

    margin-top: 6.4rem;
  }
}
.block-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.block-end__img {
  width: 9.6rem;
  height: 9.6rem;

  @media (max-width: 767px) {
    width: 6.4rem;
    height: 6.4rem;
  }
}
.block-end__hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  h2 {
    font-family: Heading Now regular;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 2.4rem;
      line-height: 2.8rem;
    }
  }

  p {
    font-family: Inter;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  }
}
.container-end__link {
  font-family: Heading Now regular;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.2rem;

  width: fit-content;
  margin: 0 auto;

  @media (max-width: 767px) {
    font-size: 3rem;
    padding-inline: 2.4rem !important;
  }
}
