.section-hero {
}
.container-hero {
  display: flex;
  justify-content: space-between;
  gap: 6rem;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 1.6rem;
  }
}

.container-hero__alt {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 1.6rem;
  }
}
.container-hero__content {
  display: flex;
  flex-direction: column;

  width: 68rem;

  @media (max-width: 767px) {
    width: unset;
  }
}
.hero-content_info-text {
  padding: 0.8rem 1.6rem;
  border-radius: var(--border-12r);
  border: 0.1rem solid var(--color-gray--200);
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-family: Heading Now regular;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;

  @media (max-width: 768px) {
    gap: 0.5rem;
    font-size: 1.6rem;
    padding: 0.6rem 1.2rem;
  }
}
.hero-content_info-marker {
  width: 0.7rem;
  min-width: 0.7rem;
  height: 0.7rem;
  background-color: var(--color-green);
  border-radius: 50%;

  position: relative;
  z-index: 2;
  left: -0.3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: pulse 2s ease infinite;

  &::before {
    content: "";
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--color-green);
    filter: blur(1rem);

    z-index: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.hero-content__head {
  margin-top: 3.2rem;

  @media (max-width: 767px) {
    margin-top: 1.2rem;
  }
}

/*  */

.hero-content__head-hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.hero-content__hgroup-text {
  font-family: Heading Now regular;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;

  color: var(--color-puple--500);

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

/*  */
.hero-content__head-title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 7.6rem;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.1rem;
  }
}
.hero-content__head-title span {
  color: var(--color-puple--500);
}
.hero-content__list {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  margin-top: 2.4rem;

  @media (max-width: 767px) {
    margin-top: 1.6rem;
    gap: 0.4rem;
  }
}
.hero-content__list-item {
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;

  display: flex;
  gap: 0.5rem;

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2rem;

    gap: 0.2rem;
  }
}
.hero-content__list-marker {
  min-width: 3rem;
  max-width: 3rem;
  height: 3rem;

  @media (max-width: 767px) {
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
  }
}

.hero-btn {
  margin-top: 6.4rem;

  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  width: fit-content;

  @media (max-width: 767px) {
    display: none;
  }
}

.hero-btn__mobile-alt {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    gap: 0.8rem;

    margin-top: unset;
    width: 100%;
    padding-block: 1.2rem !important;

    font-size: 2rem;
  }
}
.container-hero__img {
  width: 57.4rem;
  height: 52.6rem;

  @media (max-width: 767px) {
    width: unset;
    height: 32rem;
  }
}
.block-hero__link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;

  width: 100%;
  margin-top: 6.4rem;

  @media (max-width: 767px) {
    gap: 0.8rem;

    display: none;
    margin-top: 3rem;

    flex-direction: column;
  }
}
.block-hero__link-mobile {
  display: none;

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: unset;
  }
}
.block-hero__link-item {
  @media (max-width: 767px) {
    &:last-child {
      grid-column: 1 / -1;
    }
  }
}

/* ------------------------------------------------------------ */

/* swiper */

.container-hero__swiper {
  border-radius: var(--border-40r);
  border: 0.1rem solid var(--color-gray--200);
  padding-top: 3.2rem;
  width: 58rem;

  position: relative;

  @media (max-width: 767px) {
    padding-top: 2.4rem;
    padding-bottom: 8rem;
    width: 34rem;
  }
}

.swiper {
}
.swiper-wrapper {
}
.block-img {
  width: 100%;
  padding-inline: 15rem;
  padding-bottom: 10rem;

  @media (max-width: 767px) {
    padding-inline: 9rem;
    padding-block: unset;

    height: 23rem;
    position: relative;

    &::after {
      content: "";
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 100%
      );
      height: 2.4rem;
      width: 100%;

      position: absolute;
      bottom: 0;
    }
  }

  img {
    @media (max-width: 767px) {
      height: 35.2rem;
    }
  }
}

.swiper-pagination {
  margin-bottom: 4rem;

  @media (max-width: 767px) {
    margin-bottom: 3rem;
  }
}
.swiper-pagination-bullet {
  width: 5.4rem !important;
  height: 0.4rem !important;
  border-radius: var(--border-32r) !important;
  background-color: var(--color-puple--500) !important;

  @media (max-width: 767px) {
    width: 3.4rem !important;
  }
}

/* Кнопки навигации */
.swiper-button-prev {
}

.swiper-button-prev,
.swiper-button-next {
  background-color: var(--color-white__def);
  border: 0.1rem solid var(--color-gray--200);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;

  padding: 3rem;

  @media (max-width: 767px) {
    display: none !important;
  }

  svg {
    min-width: 4.3rem;
    min-height: 4.3rem;
  }
}
.swiper-button-prev {
  left: -3rem !important;
}
.swiper-button-next {
  right: -3rem !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--color-puple--500);
  border-color: var(--color-puple--500);
}

.swiper-button-prev:hover svg path,
.swiper-button-next:hover svg path {
  fill: var(--color-white__def);
}
