.section-advertiser {
  background-color: var(--color-black__def-1000);
}
.core-advertiser {
  display: flex;
  flex-direction: column;
  align-items: end;

  @media (max-width: 767px) {
    align-items: unset;
  }
}
.container-advertiser {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  width: 52rem;

  @media (max-width: 767px) {
    width: unset;
  }
}
.container-advertiser__title {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 5.6rem;
  line-height: 6.4rem;

  color: var(--color-white__def);

  @media (max-width: 767px) {
    font-size: 3.4rem;
  }
}
.form-def {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.form-box {
  position: relative;
}
.label-def {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2rem;

  position: absolute;
  top: 1rem;
  left: 1.2rem;

  color: var(--color-black__800);
  background-color: var(--color-white__def);
}
.input-def {
  padding: 2.5rem 1.2rem 1rem;
  border-radius: var(--border-12r);
  width: 100%;

  font-family: Inter;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;

  color: var(--color-black__def-1000);

  &::placeholder {
    font-family: Inter;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;

    color: var(--color-gray--alt);
    transition: 0.3s ease;
  }
  &:focus::placeholder {
    color: transparent;
  }
}
.textarea-def {
  padding: 2.5rem 1.2rem 1rem;
  border-radius: var(--border-12r);
  height: 14.4rem;
  width: 100%;

  padding: 2.7rem 1.2rem 1.7rem;

  font-family: Inter;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;

  color: var(--color-black__def-1000);

  &::placeholder {
    font-family: Inter;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;

    color: var(--color-gray--alt);
    transition: 0.3s ease;
  }

  &:focus::placeholder {
    color: transparent;
  }
}
.form-btn {
  font-family: Heading Now regular;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  text-transform: uppercase;

  color: var(--color-white__def);
  border-radius: var(--border-12r) !important;

  padding-block: 1.8rem !important;
}

/*  */

.box-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;

  color: var(--color-white__def);

  /* Скрываем настоящий чекбокс */
  input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
  }

  /* Сам квадрат чекбокса */
  .custom-checkbox {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: var(--border-6r);
    background: white;
    flex-shrink: 0;
  }

  /* Галочка (лучше через псевдоэлемент) */
  .custom-checkbox::before {
    content: "";
    position: absolute;
    inset: -0.2rem;
    background: url("../img/Check-Box.svg") center/contain no-repeat;
    transition: opacity 0.2s ease;
    opacity: 0;
  }

  /* Когда чекбокс отмечен */
  input[type="checkbox"]:checked + .custom-checkbox::before {
    opacity: 1;
    border-radius: var(--border-6r);
  }

  .box-label__text {
    font-family: Inter;
    font-weight: 500;
    font-size: 1.6rem;

    @media (max-width: 767px) {
      font-size: 1.4rem;
    }

    a {
      display: inline;
      color: var(--color-puple--500);
    }
  }
}
