*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  height: 100%;

  font-size: 0.31vw;

  @media (max-width: 4100px) {
    font-size: 0.32vw;
  }
  @media (max-width: 4000px) {
    font-size: 0.33vw;
  }
  @media (max-width: 3900px) {
    font-size: 0.34vw;
  }
  @media (max-width: 3800px) {
    font-size: 0.35vw;
  }
  @media (max-width: 3700px) {
    font-size: 0.36vw;
  }
  @media (max-width: 3600px) {
    font-size: 0.37vw;
  }
  @media (max-width: 3500px) {
    font-size: 0.38vw;
  }
  @media (max-width: 3400px) {
    font-size: 0.393vw;
  }
  @media (max-width: 3300px) {
    font-size: 0.405vw;
  }
  @media (max-width: 3200px) {
    font-size: 0.418vw;
  }
  @media (max-width: 3100px) {
    font-size: 0.43vw;
  }
  @media (max-width: 3000px) {
    font-size: 0.445vw;
  }
  @media (max-width: 2900px) {
    font-size: 0.46vw;
  }
  @media (max-width: 2800px) {
    font-size: 0.47vw;
  }
  @media (max-width: 2700px) {
    font-size: 0.485vw;
  }
  @media (max-width: 2600px) {
    font-size: 0.51vw;
  }
  @media (max-width: 2500px) {
    font-size: 0.53vw;
  }
  @media (max-width: 2400px) {
    font-size: 0.55vw;
  }
  @media (max-width: 2300px) {
    font-size: 0.58vw;
  }
  @media (max-width: 2200px) {
    font-size: 0.6vw;
  }
  @media (max-width: 2100px) {
    font-size: 0.639vw;
  }
  @media (max-width: 1920px) {
    font-size: 0.6771vw;
  }

  @media (max-width: 767px) {
    font-size: 1.5625vw;
    font-size: calc((100 / 375) * 10vw);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

img {
  height: 100%;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  outline: none;
  resize: unset;
}
button {
  background: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

span {
  display: inline;
}

a {
  text-decoration: none;
  color: unset;
  display: block;
  outline: unset;
}

input,
button,
label {
  cursor: pointer;
  outline: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  list-style-type: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
}
